/* General styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #08b0f3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 20vw;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 4vh;
    min-width: 80%;
}

.orange-text {
    color: rgb(247, 162, 4);
    margin-top: 5vh;
    font-weight: 700;
}

/* Corner buttons */
.corner-buttons {
    position: fixed;
    top: 2vw;
    left: 2vw;
    display: flex;
    flex-direction: column;
}

.corner-buttons button {
    margin-bottom: 2vw;
    background-color: #4CAF50;
    color: white;
    padding: 1vw;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.corner-buttons button:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Top-right buttons */
.top-right-buttons {
    position: fixed;
    top: 2vw;
    right: 2vw;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.top-right-buttons button {
    margin-right: 2vw;
    padding: 1vw;
    background-color: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.top-right-buttons button:hover {
    background-color: #e68900;
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.top-right-buttons button,
#updateButton {
    font-size: 1rem;
    margin-top: 1vh;
}

/* Top-left corner button */
.top-left-corner {
    position: fixed;
    top: 2vw;
    left: 2vw;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

#updateButton {
    background-color: #3f51b5;
    color: white;
    padding: 1vw;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 1rem;
    margin-top: 1vh;
}

#updateButton:hover {
    background-color: #303f9f;
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

    /* Music section */
    .nghe-nhac {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10vh auto 20vh auto;
        max-width: 40vw;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        text-align: center;
        overflow: hidden;
        background-color: #ffeb3b;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nghe-nhac img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }

    .nghe-nhac p {
        margin-top: 10px;
        font-size: 16px;
        color: #1cc90c;
        background-color: #071f3a;
        padding: 3vw;
        margin: 1vw;
        font-weight: 700;
    } 

    /* tạm bỏ */

/* Game rows and boxes */
.game-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 0px;
    min-width: 80%;
}

.game-box {
    width: 70vw;
    height: 70vw;
    max-width: 400px;
    max-height: 400px;
    background-color: #fff;
    padding: 1vw;
    margin: 1vw;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    overflow: hidden;
    background-color: #4CAF50;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-box:hover {
    transform: scale(1.1);
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.game-box img {
    width: 50%;
    height: auto;
    object-fit: contain;
    max-width: 300px;
    max-height: 300px;
}

.game-box p {
    margin-top: 10px;
    font-size: 1.5em;
    color: white;
    font-weight: 700;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.modal-content p {
    color: red;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #555;
}

/* Other styling */
h2 {
    color: #18fd23;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 16px;
    color: #2508ca;
    font-weight: 700;
}

hr {
    border: 0.5px solid #130b79;
    margin: 20px 0;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 700;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.fade {
    animation: fade 0;
}

h1 {
    margin-top: 10px;
    font-size: 4rem;
}

.user-info {
    background-color: #FFA500;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    font-size: 3vw;
}

.user-info .avatar {
    width: 50vw;
    height: 30vw;
    border-radius: 50%;
    margin-right: 15px;
    min-width: 10vw;
    min-height: 10vw;
    max-width: 15vw;
    max-height: 10vw;
}

.user-info .separator {
    margin: 0 10px;
}

.user-info:hover {
    background-color: #e68900;
}

.username {
    font-size:3vw;
    font-weight: bold;
}

.avatar {
    width: 10vw;
    height: auto;
    max-width: 130px;
    min-width: 50px;
    border-radius: 50%;
}

.nen {
    background-color: #FFA500;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    font-size: 3vw; /* Kích thước font chữ như .user-info */
    margin-top: 20px;
    min-width: 20vw;
    min-height: 10vw;
    max-width: 30vw;
    max-height: 10vw;
}

.nen:hover {
    background-color: #e68900;
}

